/* ALL Tag */
*{
	margin: 0;
	padding: 0;
	border: none;
}
body{
	background: #ddd;
}
img{
	border: none;
}
a{
	text-decoration: none;
	color: #444;
}
a:hover{
	color: #999;
}
/* wrap*/
#wrap{
	position: relative;
	width: auto;
	height: auto;
	margin: 0 auto;
}
#wrap > div{
	float: left;
	box-sizing: border-box;
	width: 350px;
	height: auto;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	background: #fff;
}
#wrap > div >img{
	width: 100%;
}